<p>

  <body class="text-center">
      <form class="form-signin">
        <img  src="https://lh3.googleusercontent.com/c_a31YCBc08hDfJJNckg47aBwDNEpfCjD12CxwJD74xvLWEpP8-pnaxvRrV0PzYJ7osfibACrDCi7Z4brvpT7miDH9bArJkUsPNSGtOhS5-U9m87wQoSC2V4i-qdCPyz04mSn-CeRNZeMITYoNf4MepBpa8ZXNsdp2eQypdYFqG7VaJYDopf7E1sW8Ru6cBC_SwGUKdRfs_v4qK049Q_A0EZFmPaQCJl6BqsMLNjbpaxMJVfslFQqGl3DHUpTJHLd72bQQ2rL_ecFokjb4n-VOWcpmhLSYEZRqOKSA15SBQVwfH6HpDntU5667pYrZY7GcD2yqAsFfVTTtfXyt3qlM-U8qvyfd71VW1fcyp-LCoRjRR8pOydvciFwsO-rh2B79yhb89YHo8S7UALKu33X1hOWrK6FyK3gV3Clz1fzrXDvokEdppgH-vZfdqFKDbFaGD3NYknf_7zJ1mzqThK5PQzzgac_vs_4NT5CrcLPJ284He99omN4GE4r21ve3GXCQFJVetVDmqVmzonxaYSEVtOBn2_goEXHBwnuI2yGsSOLv0kpk2kTw7uIFka0Mr1B40mIOrIPqSAIG382fB3emGNi_E7GSwMF8DqBBBsl1uo3VZ7n9q9HgHf_I4ZqBglHp6VyoQRG8KWj-79yCZtjkJc=s200-no" alt="" width="200" height="200">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="input-group-prepend">
            <input type="text"class="form-control" placeholder="Username"#addmin>
          </div>
          <div class="input-group-prepend">
              <input  type ="password"class="form-control" placeholder="password"#supatta>
            </div> <br> <br>
            <input type="checkbox" value="remember-me"> Remember me <br> <br>
            <a class="btn btn-success" (click)="click(addmin.value,supatta.value)" >OK</a> <br> <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

      </form>
    </body>
</p>


