<p>

  <body class="text-center">
      <form class="form-signin">
        <img  src="assets\img\logo\logo.png" alt="" width="200" height="200">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="input-group-prepend">
            <input type="text"class="form-control" placeholder="Username"#addmin>
          </div>
          <div class="input-group-prepend">
              <input  type ="password"class="form-control" placeholder="password"#addmin>
            </div> <br> <br>
            <input type="checkbox" value="remember-me"> Remember me <br> <br>
            <a class="btn btn-success" (click)="click(addmin.value,addmin.value)" >OK</a> <br> <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

      </form>
    </body>
</p>


