<p>

  <body class="text-center">
      <form class="form-signin">
        <img  src="https://lh3.googleusercontent.com/y6q3VcgezhW8IY14usmWxtFRbLCiuBVtB7gBkfqhmprfReUK-VRd_BMdGOS-Vr4A-wKeSiwI0kjR9KTA3toLsjId09l4RudHaB9AtOw2Ui9i0wY4cfjl2ckYNJcLaDSkBDt1lDjHrbad56SG_-VH0b3t61d0e0Soa4zbOciqCQQjuAQxDtXLr-5mIPDxHpc2FfIBdI9hsiDUsRbZFH2Ujoy7NR4As09pFa9OYhoMDSpF-1HcNvzefhpYA0FUoE3SZQ4p9vB4tSIO1nXgn2VNKUKsQxCrkCUHc0nHPMDDv227n3K0JUlwKL9PRU7AxQwjAgij698wJ8HinBTmG2y7L-x8j5Igi8QM_K6J7Sgy7T2fXWTUAyQis9BhgrVjB5x-zbmHL22b4TLXlVM0LBOcK-g8XxGuCYhT1sG6NZ8uzn6B7q1wY2YubygUVEcsFvIQF7dn3f_koZ3fGf7pnqWvz7aH-pdnNLwxWn_CLS-PW3uzlxNzmOuQIp0HpHtqXsD5PeCVC_qKwYdJZLBOZXUwPkt53Pjj7ehjfA5idOoKmqD_x1SNp2p5VwSFJufd0fR3Se9cTHsgGGjqrS3qfQWFYdMRVMOHxUxTcX4f=s200-no" alt="" width="200" height="200">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="input-group-prepend">
            <input type="text"class="form-control" placeholder="Username"#addmin>
          </div>
          <div class="input-group-prepend">
              <input  type ="password"class="form-control" placeholder="password"#addmin>
            </div> <br> <br>
            <input type="checkbox" value="remember-me"> Remember me <br> <br>
            <a class="btn btn-success" (click)="click(addmin.value,addmin.value)" >OK</a> <br> <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

      </form>
    </body>
</p>


